* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  font-family: Impact;
  font-weight: bold;
  color: #62bf2e;
  border: 3px dashed #0b2b40;
  width: 1000px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 50px;
}
